{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner d-flex flex-column justify-content-center align-items-center text-light">
        <h1>Carloc</h1>
        <h2>Bienvenue à bord</h2>
        <small>Location de voiture 24h/24 et 7j/7</small>
    </div>
{% endblock %}