{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="my-4">Backoffice</h1>
        <div class="alert alert-info">Bienvenue sur le BackOffice</div>
        <a href="{{ path('admin_users') }}" class="col-md-6 btn btn-dark mb-2">Gestion des utilisateurs</a>
        <a href="{{ path('admin_vehicles') }}" class="col-md-6 btn btn-dark mb-2">Gestion des véhicules</a>
        <a href="{{ path('admin_orders') }}" class="col-md-6 btn btn-dark mb-2">Gestion des commandes</a>
    </div>
{% endblock %}
